---
---

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

#particles-js { 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: -1; 
}

.block-veil {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, 
                              #0000FF 0%, #0000FF 33.3%, 
                              #3399FF 33.3%, #3399FF 66.6%, 
                              #66CCFF 66.6%, #66CCFF 100%);
  transform: translateX(-100%); /* 追加: 初めはベールをその位置に保持 */
  opacity: 0;
  transition: opacity 0s 0.2s, transform 1.0s cubic-bezier(1, 0.01, 0.01, 1);
}

.revealed .block-veil {
  transform: translateX(100%);
  opacity: 1;
}
.post_tag, .language-btn {
  position: relative; /* 追加: post_blockを相対位置に設定 */
  overflow: hidden;   /* 追加: ベールがpost_blockの外に出ないようにする */
  display: inline-block;
  background: #f9f9f9;
  color: #{{ site.colors.tag_hover }};
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0s 0.2s;
}

.post_block, .conf_block, .experience_block, .contest_block, .education, .skills, .profile {
  position: relative; /* 追加: post_blockを相対位置に設定 */
  overflow: hidden;   /* 追加: ベールがpost_blockの外に出ないようにする */
  display: inline-block;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0s 0.2s;
}
.post_block.make-visible, .conf_block.make-visible, .contest_block.make-visible, .experience_block.make-visible, .education.make-visible, .skills.make-visible, .profile.make-visible {
  opacity: 1;
}
.post_tag.make-visible, .language-btn.make-visible {
  opacity: 1;
}

.language-btn:hover {
  color: #{{ site.colors.tag_hover }};
}
.post_tag:hover {
  color: #{{ site.colors.tag_hover }};
}

body{
  font-family: 'Roboto Slab', sans-serif;
  margin: 0px;
  top: 20px;
  color: #{{ site.colors.text }};
}

.col3 {
  float: left;
  width: 33.33%;
  text-align: center;
  height: 20px;
}
.col2 {
  float: left;
  width: 50%;
  text-align: center;
}

.col2 {
  position: relative; /* 追加: post_blockを相対位置に設定 */
  overflow: hidden;   /* 追加: ベールがpost_blockの外に出ないようにする */
  background: #f9f9f9;
  color: #{{ site.colors.tag}};
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0s 0.2s;
  width: 50%;
}
.col2:hover {
  color: #{{ site.colors.tag_hover}};
}
.col2.make-visible {
  opacity: 1;
}

.col1 {
  float: left;
  width: 99%;
  text-align: center;
  height: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 5px;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 10px;
}

.button_container {
  position: relative;
  text-align:center;
}

.button_link {
  height: 43px;
  width: 100px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}

.button_link:hover {
  background: #e7e7e7;
}

.scroll_box { 
  overflow-x: scroll;
}

.small_header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;

}

.small_header_box {
  height: 60px;
  flex: 1;
  min-width: 300px;
  margin: 15px 0;
}

.name_header_box {
  display: inline-block;
  margin: 0 auto;
}

.name_header_img {
  float: left;
  width: 80px;
}

.name_header_name {
  font-size: small;
  float: left;
  position: relative;
  bottom: 16px;
  color: #{{site.color.header_text}};
}

.language-python.highlighter-rouge {
  background-color: #eee;
  padding: 1px 10px;
  border-radius: 8px;
}

.language-matlab.highlighter-rouge {
  background-color: #eee;
  padding: 1px 10px;
  border-radius: 8px;
}

.language-r.highlighter-rouge {
  background-color: #eee;
  padding: 1px 10px;
  border-radius: 8px;
}

.col1 img, span {
  vertical-align: middle;
}

.col2 img, span {
  vertical-align: middle;
}

.header {
  background-color: transparent;
  color: #{{ site.colors.header_text }};
}

.header h1, a {
  text-decoration: none;
  text-align: center;
}

.header a {
  color: #{{ site.colors.tag}};
}

.header a:hover {
  color: #{{ site.colors.tag_hover}};
}

.content a {
  color: #{{ site.colors.tag }};
}

.content a:hover {
  color: #{{ site.colors.tag_hover }};
}

.content {
  padding: 20px 40px;
}

.post_block h3 {
  margin-block-end: 2px;
}

/* Dark mode */
{% unless site.color_mode == "light" %}

{% if site.color_mode == "auto" %}
@media (prefers-color-scheme: dark) {
{% endif %}

  body {
    background-color: #{{ site.colors_dark.background }};
    color: #{{ site.colors_dark.text }};
  }

  .header {
    background-color: #{{ site.colors_dark.header_background }};
    color: #{{ site.colors_dark.header_text }};
  }

  .header a {
    color: #{{ site.colors_dark.header_link }};
  }

  .header a:hover {
    color: #{{ site.colors_dark.header_link_hover }};
  }

  .content a {
    color: #{{ site.colors_dark.links }};
  }

  .content a:visited {
    color: #{{ site.colors_dark.links_visited }};
  }

  .language-python.highlighter-rouge {
    background-color: #272822;
  }

  .language-matlab.highlighter-rouge {
    background-color: #272822;
  }

  .language-r.highlighter-rouge {
    background-color: #272822;
  }

  .button_link:hover {
    background: #272822;
  }

{% if site.color_mode == "auto" %}
}
{% endif %}

{% endunless %}

/* Large screen widths */
@media print, screen and (min-width: 1240px) {

  .header {
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
    left: 0;
  }

  .link_group {
    padding-top: 30px;
  }

  .name_group {
    padding-top: 20px;
    padding-bottom: 10px;
    color: # {{ site.color.header_text}};
  }

  div.small_header {
    display:none;
  }

  .content {
    width: 800px;
    position: relative;
    left: calc(calc(100% - 350px)/2 - 400px + 350px);
  }
  
  h2, h3 {
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
  }

}

/* Small screen widths */
@media print, screen and (min-width: 768px) and (max-width: 1240px) {
  .header {
    width: 100%;
  }
  .name_header_name {
    font-size: small;
    float: left;
    position: relative;
    bottom: 8px;
  }
  div.big_header {
    display:none;
  }
  div.small_header {
    display:flex;
  }

  h2, h3 {
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
  }
  
}

@media print, screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
  .name_header_name {
    font-size: small;
    float: left;
    position: relative;
    bottom: 8px;
  }
  div.big_header {
    display:none;
  }
  div.small_header {
    display:flex;
  }
  h2, h3 {
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
  }
}
