---
layout: default
---

<div>
  <a href="https://suyamat.github.io" class="language-btn">
    English
    <div class="block-veil"></div>
  </a>
  <a href="https://suyamat.github.io/ja" class="language-btn">
    Japanese
    <div class="block-veil"></div>
  </a>

  <h2>Profile</h2>
  <div class="profile">
    <p>{{ site.long_description }}</p>
    <div class="block-veil"></div>
  </div>

  {% comment %}
  Get tags from all posts
  {% endcomment %}
  {% assign rawtags = "" %}
  {% for post in site.posts %}
  {% assign ttags = post.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:ttags %}
  {% endfor %}
  {% assign rawtags = rawtags | split:'|' | sort %}

  {% comment %}
  Remove duplicate tags
  {% endcomment %}
  {% assign tags = "" %}
  {% for tag in rawtags %}
  {% if tag != "" %}
  {% if tags == "" %}
  {% assign tags = tag | split:'|' %}
  {% endif %}
  {% unless tags contains tag %}
  {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
  {% endunless %}
  {% endif %}
  {% endfor %}

  {% comment %}
  Get site url without trailing forward slash
  {% endcomment %}
  {% if site.main_github_io %}
  {% assign site_url = "" %}
  {% else %}
  {% assign site_url_len = site.url | size | minus: 1 %}
  {% assign site_url = site.url | slice: 0, site_url_len %}
  {% endif %}

  <p>
  <h2> Tags </h2>
  <a onclick="show_tag_section('all_posts')" style="cursor: pointer;" class="post_tag">
    All
    <div class="block-veil"></div>
  </a>
  {% for tag in tags %}
  <a onclick="show_tag_section('{{ tag | slugify }}')" style="cursor: pointer;" class="post_tag"> 
    {{ tag }} 
    <div class="block-veil"></div>
  </a>
  {% endfor %}
  </p>

  <div id="all_posts">
    <div id="paper">
      <h2> 論文 </h2>
      {% for post in site.posts %}
      {% if post.category == "publication" or post.category == "preprint" %}
      <div class="post_block">
        <h3>{{ post.title }}</h3>
        <span>Tag: {{ post.tags | array_to_sentence_string }}</span>
        {% if post.description %}
        <p> {{ post.description }} </p>
        {% endif %}
        {% if post.img_url %}
        <a href="{{ site_url }}{{ post.url }}" title="{{ post.title }}">
          <img src="{{ post.img_url }}" class="center_img">
        </a>
        {% endif %}
        <div class="block-veil"></div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div id="conferences">
      <h2> 学会 </h2>
      {% for post in site.posts %}
      {% if post.category == "conference" %}
      <div class="conf_block">
        <h3>{{ post.title }}</h3>
        <span>Tag: {{ post.tags | array_to_sentence_string }}</span>
        {% if post.description %}
        <p> {{ post.description }} </p>
        {% endif %}
        {% if post.img_url %}
        <a href="{{ site_url }}{{ post.url }}" title="{{ post.title }}">
          <img src="{{ post.img_url }}" class="center_img">
        </a>
        {% endif %}
        <div class="block-veil"></div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  
    <div id="contest">
      <h2> コンテスト </h2>
      {% for post in site.posts %}
      {% if post.category == "contest" %}
      <div class="contest_block">
        <h3>{{ post.title }}</h3>
        <span>Tag: {{ post.tags | array_to_sentence_string }}</span>
        {% if post.description %}
        <p> {{ post.description }} </p>
        {% endif %}
        {% if post.img_url %}
        <a href="{{ site_url }}{{ post.url }}" title="{{ post.title }}">
          <img src="{{ post.img_url }}" class="center_img">
        </a>
        {% endif %}
        <div class="block-veil"></div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div id="experience">
      <h2> 経歴 </h2>
      {% for post in site.posts %}
      {% if post.category == "experience" %}
      <div class="experience_block">
        <h3>{{ post.title }}</h3>
        <span>Tag: {{ post.tags | array_to_sentence_string }}</span>
        {% if post.description %}
        <p> {{ post.description }} </p>
        {% endif %}
        {% if post.img_url %}
        <a href="{{ site_url }}{{ post.url }}" title="{{ post.title }}">
          <img src="{{ post.img_url }}" class="center_img">
        </a>
        {% endif %}
        <div class="block-veil"></div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

  </div>

  {% for tag in tags %}
  <div id="{{ tag | slugify }}" class="by_tag">
    <h2 id="{{ tag | slugify }}">Posts tagged "{{ tag }}"</h2>
    {% for post in site.posts %}
    {% if post.tags contains tag %}
    <div class="post_block">
      <h3>{{ post.title }}</h3>
      <span>Tag: {{ post.tags | array_to_sentence_string }}</span>
      {% if post.description %}
      <p> {{ post.description }} </p>
      {% endif %}
      {% if post.img_url %}
      <a href="{{ site_url }}{{ post.url }}" title="{{ post.title }}">
        <img src="{{ post.img_url }}" class="center_img">
      </a>
      {% endif %}
      
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}

  <h2> 学歴 </h2>
  <div class="education">
    <p><i>2023/4 - </i><br />
      <b>大阪大学大学院</b><br />
      生命機能研究科 <br />
      指導者: <a href="https://scholar.google.com/citations?user=y1pLEGkAAAAJ">
        西本伸志</a>
    </p>

    <p><i>2019/4 - 2023/3 </i><br />
      <b>大阪大学</b><br />
      基礎工学部システム科学科 <br />
      指導者: <a href="https://scholar.google.com/citations?user=y1pLEGkAAAAJ">
        西本伸志</a>
    </p>
    <div class="block-veil"></div>
  </div>

  <h2> スキル</h2>
  <div class="skills">
    <h3>プログラミング言語</h3>
    <p>
      Python, C, MATLAB, R, HTML, CSS
    </p>
    <h3>ツール</h3>
    <p>
      VS Code, git, ChatGPT, Docker, Singularity
    </p>
    <div class="block-veil"></div>
  </div>

</div>